.headerBox {
    position: relative;
    height: 350px;
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
}

.b3-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 300px;
}

.b3-wrapper {
    position: relative;
    height: 100%;
}

.b3-wrapper .b3-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    border: 3px solid #000;
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    transition: transform 0.5s;
}

.b3-wrapper .b3-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.b3-wrapper .b3-slide .b3-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    transition: background .5s;
}

.b3-wrapper .b3-slide.active .b3-mark,
.b3-wrapper .b3-slide:hover .b3-mark {
    background: rgba(0, 0, 0, 0);
}

.b3-wrapper .b3-slide .b3-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 40%;
    background: rgba(0, 0, 0, .75);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .35), rgba(0, 0, 0, .75));
    transform: translateY(100%);
    transition: transform .3s;
    overflow: hidden;
}

.b3-wrapper .b3-slide.active:hover .b3-desc {
    transform: translateY(0);
}

.b3-wrapper .b3-slide .b3-desc p {
    line-height: 2;
    color: #FFF;
    font-size: 12px;
}

.b3-navigation {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 39px;
    height: 80px;
    background: url('../images/btn.png') no-repeat;
}

.b3-navigation.prev {
    left: 0;
    background-position: 0 0;
}

.b3-navigation.next {
    right: 0;
    background-position: -39px 0;
}